*{
    padding: 0;
    margin: 0;
}
body{
    background-repeat: no-repeat;
    background-image: url("/wp2409705.jpg");
    min-height: 100vh;
    background-size: 100vw 100vh; /*view width , view height*/
    display: flex;
    justify-content: center;
    align-items: center;    
}
#myscore{
    position: absolute;
    top:9px;
    right: 100px;
    font-size: 25px;
    font-weight: bold;
}
#board{
    background:linear-gradient(to left, rgb(151, 151, 68),rgb(141, 221, 141));
    width:90vh;
    height:90vh;
    border: 2px solid black;
    border-radius: 5px;
    display: grid;
    grid-template-columns:repeat(18,1fr) ;
    grid-template-rows: repeat(18,1fr) ;
}
.head{
    background:linear-gradient(red,yellow);
    border-radius: 7px;
    border:.2px solid purple;
    transform: scale(1.05);
}
.snake{
    background-color:purple;
    border-radius: 12px;
    border:.25vmin solid white;
}
.food{
    background:linear-gradient(red,purple);
    border:.25vmin solid black;
    border-radius: 7px;
}